* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head {
    max-width: 1440px;
    margin: 0 auto;
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 105px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.home {
    color: #FA4A0C;
}