footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    height: 224px;
    /* padding: 0 40px; */
}

button {
    cursor: pointer;
}

ul {
    gap: 50px;
}